.container {
    padding: 5px;
    background-color: rgb(64, 64, 64);
    border-style: solid;
    border-color: rgb(64, 64, 64);
    border-width: 2px;
    border-radius: 5px;
}

.input {
    margin-right: 5px;
}